/* CSS reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'M PLUS 1 Code', sans-serif;
  height: 100vh;
}


/* Nav */
header{
  border-bottom: 1px solid #E2E8F0;

}
.nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
/* Menu icon */
.menu{
  display:none;
}
.bar{
  width: 25px;
  height: 3px;
  display: block;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  background-color: #101010;

}
/* Logo */
.logo{
  font-size: 1.6rem;
  font-weight: 500;
  color: orangered;
}
/* Nav menu */
#nav-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item{
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.4rem;
  color:orangered;
}

.nav-link:hover{
  color:#475569;
}


/* navbar media queries */

@media screen and (max-width:768px) {
  #nav-list{
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: lightgray;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10 27px rgba(0,0,0,0.05);

  } 
  #nav-list.active{
    left: 0;
  } 
  .nav-item{
    margin: 2.5rem 0;
  }
  .menu{
    display: block;
    cursor: pointer;
  }
}
