/* CSS reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'M PLUS 1 Code', sans-serif;
  width: 100vw;
  overflow-x: hidden;
  
}

a{
  text-decoration: none;
  color: #413f3f;
}
li{
  list-style-type: none;
}


/* Nav */
header{
  border-bottom: 1px solid #E2E8F0;
  margin-bottom: 40px;

}
.nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
/* Menu icon */
.menu{
  display:none;
}
.bar{
  width: 25px;
  height: 3px;
  display: block;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  background-color: #101010;

}
/* Logo */
.logo a{
  font-size: 3rem;
  font-weight: 500;
  font-family: 'Dancing Script', cursive;
  color: orangered;
  
}
.logo:hover{
  text-decoration:none;
}
/* Nav menu */
#nav-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item{
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.4rem;
  color:#475569;
}

.nav-link:hover{
  color:orangered;
}

.btn-login,.btn-signup{
  background-color: rgb(13, 138, 138);
  padding: 15px;
  border-radius: 5px;
  color: white;
}
.btn-login:hover,.btn-signup:hover{
  background-color: white;
  color:  rgb(13, 138, 138);
}

/* navbar media queries */

@media screen and (max-width:768px) {
  #nav-list{
    position: fixed;
    left: -100%;
    top: 4rem;
    flex-direction: column;
    background-color: rgb(245, 241, 241);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10 27px rgba(0,0,0,0.05);
    z-index: 100;
  } 
  #nav-list.active{
    left: 0;
  } 
  .nav-item{
    margin: 2.5rem 0;
  }
  .menu{
    display: block;
    cursor: pointer;
  }
}

/* main section */

#main{
  width: 90vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
 
  
}
.hero-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  flex-basis: 70%;
  margin-left: 3rem;
 
}
.hero-description h1{
  color: orangered;
  font-size: 3rem;
  padding-bottom:10px;
}
.hero-description .caption{
  font-size: 1.5rem;
  
}
.hero-image{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
}
.btn{
  width: 200px;
  border-radius:6px;
  background-color: orangered;
  margin-top:40px;
  border:0;
  outline: 0;
  
}
.btn.get-started{
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  padding:10px;
  
}
.btn.get-started:hover{
  cursor:pointer;
  background-color: rgb(236, 65, 2);
}

@media screen and (max-width:768px) {
  #main{
    width: 100vw;
    flex-direction: column;
  }
  .hero-description{
    margin-bottom: 5px;
  }
  .hero-description h1{
    font-size: 1.7rem;
  }
  .hero-image{
    flex-basis: 100%;
   
  }
  .hero-description.caption{
    font-size: 0.8rem;
  }

  
}
/* url section */
.url{
  width: 100vw;
  padding:40px;
  /* height: 100px; */
  background-color: rgba(4, 43, 219, 0.856);
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

#form{
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
.url-input-box{
  width: 50vw;
  padding:15px;
  border: 0;
  font-size: 1.4rem;
  border-radius: 5px;
  margin-right: 10px;
}
.url-input-box:focus{
  outline:2px double rgb(32, 226, 226);
}
.btn-shorten{
 
  padding:15px 10px;
  border: 0;
  border-radius: 5px;
  font-size: 1.5rem;
  color:white;
  background-color: rgb(13, 138, 138);
  cursor: pointer;
}

.tos{
  font-size: 0.7rem;
  text-align: center;
  color: white;
  text-decoration: underline;
  margin-top: 5px;
  cursor: pointer;
}

.results{
  width: 65vw;
  border-radius: 5px;
  margin-top: 30px;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.single-result{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65vw;
  padding: 20px;
  border-bottom: 0.6px solid rgb(192, 191, 191);
}
.url-link{
  background-color: rgb(145, 187, 187);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

@media screen and (max-width:768px) {
  #form{
    flex-direction: column;
    gap:15px;
  }
  .url-input-box,.btn-shorten{
    width: 90vw;
  }
  
}

@media screen and (max-width:500px) {
  .single-result{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .url-link{
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 50vw;
  }
}

